<div class="card m-3">
  <div class="card-body">
    <div class="card-title">

        <span style="font-size: 30px; font-weight: bold">Why MVC is so important</span>
        <span class="float-end">Posted by hlee92 on 5/20/2022</span></div>
        

    {{!-- <h6 class="card-subtitle mb-2 text-muted">The Tech Blog</h6> --}}
    <p class="card-text">MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the View layer for design, and the Controller layer for application logic.</p>
  </div>

  
</div>

<div class="card m-3">
  <div class="card-body">
    <div class="card-title">

        <span style="font-size: 30px; font-weight: bold">Authentication vs. Authorization</span>
        <span class="float-end">Posted by shawnlee on 5/25/2022</span></div>
        

    {{!-- <h6 class="card-subtitle mb-2 text-muted">The Tech Blog</h6> --}}
    <p class="card-text">There is a difference between authentication and authorization. Authentication means confirming your own identity, whereas authorization means being allowed access to the system.</p>
  </div>

  
</div>

<div class="card m-3">
  <div class="card-body">
    <div class="card-title">

        <span style="font-size: 30px; font-weight: bold">Object-Relational Mapping</span>
        <span class="float-end">Posted by jamielee on 5/26/2022</span></div>
        

    {{!-- <h6 class="card-subtitle mb-2 text-muted">The Tech Blog</h6> --}}
    <p class="card-text">I have really loved learning about ORMs. It's really simplified the way I create queries in SQL!</p>
  </div>

  
</div>

